[Unit]
Description=Setup Gurkenupdater                                                                                         

[Service]
Type=oneshot
ExecStart=$GIT_BASE/gurke.io/scripts/start_container.sh
RemainAfterExit=true
StandardOutput=journal
WorkingDirectory=$GIT_BASE/gurke.io/scripts/
User=pi


[Install]
WantedBy=multi-user.target

